{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>New entry</h1>
    <form method="post">
        {% csrf_token %}
        {% include 'core/sense_form_snippet.html' %}
    </form>
{% endblock content %}
{% block javascript %}
    <script>
        let timer, delay = 250;
        $('#id_root').on('input', function (e) {
            const root = $(this).val();
            let rootSensesMessage = $('#rootSensesMessage');
            $('p.text-success').remove();

            clearTimeout(timer);
            timer = setTimeout(function () {
                $.ajax({
                    url: "{% url 'core:get_senses' %}",
                    data: {
                        'root': root
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            rootSensesMessage.children('span').remove();
                            const senses = data.senses;
                            senses.forEach(function (s) {
                                rootSensesMessage.before(
                                    $("<p></p>").text(s).addClass('text-success')
                                )
                            });
                        } else {
                        }
                    }
                });
            }, delay);
        });
    </script>
    {{ form.media }}
    <script>
        $(window).bind('load', function () {
            document.querySelector('#div_id_tag > div > div > button > div').classList.add("text-dark");
        });
    </script>
{% endblock javascript %}