{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>New entry</h1>
    <form method="post">
        {% csrf_token %}
        {% include 'core/form_snippet.html' %}
    </form>
{% endblock content %}
{% block javascript %}
    <script>
        let timer, delay = 250;
        $('#id_item_name').on('input', function (e) {
            const itemName = $(this).val();
            let itemNameMessage = $('#item_message');
            clearTimeout(timer);
            timer = setTimeout(function () {
                $.ajax({
                    url: "{% url 'core:validate_item_name' %}",
                    data: {
                        'item_name': itemName
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_taken) {
                            itemNameMessage.text('This item already exists.');
                            itemNameMessage.className = '';
                            itemNameMessage.addClass('text-warning');
                        } else {
                            itemNameMessage.text('');
                        }
                    }
                });
            }, delay);
        });
    </script>
    {{ form.media }}
    <script>
        $(window).bind('load', function () {
            document.querySelector('#div_id_tag > div > div > button > div').classList.add("text-dark");
        });
    </script>
{% endblock javascript %}