{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row">
        {% if 'results' in request.path %}
            <div class="col">
                <h1>Filter results</h1>
                <form action="{% url 'core:results' %}" method="get">
                    {% include 'core/search_form_snippet.html' %}
                </form>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <p class="py-0 my-0 align-middle">
                {% if 'results' in request.path %}
                    <p><strong>Search history:</strong></p>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th class="text-center">Download
                                <a tabindex=0 data-container="body" data-toggle="popover" data-trigger="focus"
                                   title="Opening in Excel"
                                   data-content="Data tab > From Text > file.csv >1. Delimited 2. File origin: UTF-8 3. Delimiters: comma > Finish">
                                    <i style="font-size:15px; cursor: pointer; color: darkslategrey;"
                                       class="material-icons"
                                    >help</i></a></th>
                            <th>Query</th>
                        </tr>
                        {% for hist in view.request.session.history_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td class="text-center"><a href="{% url 'core:export' query_idx=forloop.counter0 %}"
                                ><i style="font-size:2em;" class="material-icons">file_download</i></a></td>
                                <td>{{ hist.query_str|safe }}</td>
                            </tr>
                        {% endfor %}
                        </thead>
                    </table>
                {% else %}
                    <strong>資料筆數：</strong>{{ view.get_queryset.count }}
                {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr class="align-middle text-center">
                        <th class="align-middle">#</th>
                        <th class="align-middle">詞項</th>
                        <th class="align-middle">變體</th>
                        <th class="align-middle">詞義</th>
                        <th class="align-middle">詞根</th>
                        <th class="align-middle"><a href="?order_by=uploader">輸入者</a></th>
                        <th class="align-middle"><a href="?order_by=date">更新時間</a></th>
                        <th class="align-middle">刪除</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for headword in headwords %}

                        {% for sense in headword.senses.all %}
                            <tr class="text-center">
                                {% if forloop.first %}
                                    <td rowspan="{{ headword.senses.all|length }}"
                                        class="align-middle">{{ forloop.parentloop.counter0|add:page_obj.start_index }}</td>
                                    <td style="cursor: pointer;"
                                        onclick="window.location='{% url 'core:update_headword' pk=headword.id %}';"
                                        rowspan="{{ headword.senses.all|length }}"
                                        class="align-middle">{{ headword.headword }}</td>
                                    <td class="align-middle" rowspan="{{ headword.senses.all|length }}">
                                    {% for v in headword.variant %}
                                    {{ v }}<br>
                                    {% endfor %}
                                    </td>
                                {% endif %}
                                {#                            <td style="cursor: pointer" onclick="window.location='{% url 'core:update' pk=headword.id %}';"#}
                                {#                                class="align-middle">{{ headword.headword }}</td>#}
                                <td style="cursor: pointer;"
                                    onclick="window.location=
                                            '{% url 'core:update_sense' pk=headword.id sense=sense.headword_sense_no %}';"
                                    class="align-middle">
                                    {% if headword.senses.all|length_is:"1" %}{{ sense.meaning }}{% else %}(
                                        {{ forloop.counter }}) {{ sense.meaning }}{% endif %}
                                </td>
                                <td class="align-middle">{{ sense.root }}</td>
                                <td class="align-middle">{{ sense.user }}</td>
                                <td class="align-middle">{{ sense.modified_date|date:"N d, Y P" }}</td>
                                <td style="text-align: center;" class="align-middle">
                                    <button style="padding: 0;" type="button" class="btn btn-primary align-middle"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            data-pk="{{ headword.id }}"
                                            data-sense="{{ sense.headword_sense_no }}"
                                            data-deltext="{{ headword }}: {{ sense.meaning }}"
                                    ><i class="material-icons align-middle">delete</i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% empty %}
                        <tr>
                            <td colspan="7">No search results match the query.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <nav>
        <div class="row">
            <div class="col">
                {% if is_paginated %}
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">&laquo;
                                first</a></li>
                            <li class="page-item"><a class="page-link"
                                                     href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
                            </li>
                        {% endif %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page_obj.number }}</a>
                        </li>
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?{% param_replace page=page_obj.next_page_number %}">next</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?{% param_replace page=page_obj.paginator.num_pages %}">last
                                &raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete entry?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let hw = button.data('pk');
            let sense = button.data('sense');
            let url = "{% url 'core:delete' pk=1 sense=2 %}".replace(1, `${hw}`).replace(2, `${sense}`);
            let modal = $(this);
            let delText = button.data('deltext');
            let form = modal.find('form');

            form.prop('action', url);
            modal.find('.modal-title').text('Delete ' + delText + '?')
        });
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus'
            });
        });
    </script>
{% endblock javascript %}