{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
     <div class="row">
        <div class="col">
            <h1>Search</h1>
            <form action="{% url 'core:results' %}" method="get">
                <div class="form-row align-items-center">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="item_filter" id="startsWith"
                                   value="startswith">
                            <label class="form-check-label" for="startsWith">Starts with</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="item_filter" id="endsWith"
                                   value="endswith">
                            <label class="form-check-label" for="endsWith">Ends with</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="item_filter" id="contains"
                                   value="contains" checked>
                            <label class="form-check-label" for="contains">Contains</label>
                        </div>
                    </div>
                    <div class="col-md-8 form-group">
                        <label for="itemNameInput">Item name</label>
                        <input type="text" id="itemNameInput" class="form-control form-control-lg" value="an"
                               name="item_name">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="col btn btn-primary active">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="p-2 mb-2 bg-light text-dark col">
        <p class="py-0 my-0 align-middle">
            <strong>資料筆數：</strong>{{ view.get_queryset.count }}
            {% if view.request.GET.item_name %}
                | <strong>Search params: </strong>{{ view.request.GET.item_name }}, {{ view.request.GET.item_filter }}
            {% endif %}
            {% if request.session.queryset %}
                <span class="align-middle">
                <a class="btn btn-info py-0" href="{% url 'core:export' %}">Export to CSV</a>
                </span>
            {% endif %}
        </p>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>詞項</th>
                <th>變體</th>
                <th>意義</th>
                <th>詞根</th>
                <th>輸入者</th>
                <th>輸入日期</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr onclick="window.location='{% url 'core:update' pk=entry.id %}';">
                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td>{{ entry.item_name }}</td>
                    <td>{{ entry.variant }}</td>
                    <td>{{ entry.meaning }}</td>
                    <td>{{ entry.word_root }}</td>
                    <td>{{ entry.user }}</td>
                    <td>{{ entry.created_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No search results match the query.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <div class="row">
            <div class="col">
                {% if is_paginated %}
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">&laquo;
                                first</a></li>
                            <li class="page-item"><a class="page-link"
                                                     href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
                            </li>
                        {% endif %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page_obj.number }}</a>
                        </li>
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?{% param_replace page=page_obj.next_page_number %}">next</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?{% param_replace page=page_obj.paginator.num_pages %}">last
                                &raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock content %}