{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Update {{ headword.headword }} sense {{ headword_sense_no }}</h1>
            <p>
                <strong>Headword: </strong>{{ headword.headword }} |
                <strong>Variant: </strong>{{ headword.variant }} |
                <strong>Is root? </strong>{{ headword.is_root }}
            </p>
            <form action="" method="post">
                {% csrf_token %}
                {% include 'core/sense_form_snippet.html' %}
            </form>
        </div>
    </div>

{% endblock content %}
{% block javascript %}
    {{ block.super }}
    <script>
        $(window).bind('load', function () {
            document.querySelector('.filter-option-inner-inner').classList.add("text-dark");
        });
    </script>
{% endblock javascript %}
