{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="form-row">
    <div class="col">
        <h1>Update <span class="headword">{{ headword.headword }}</span> <sup>{{ headword_sense_no }}</sup></h1>
        <p>
            <strong>Headword: </strong>{{ headword.headword }} |
            <strong>Variant: </strong>{{ headword.variant }} |
            <strong>Is root? </strong>{{ headword.is_root }}
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    {{ headword_form.headword|as_crispy_field }}
                    {% comment %} <label class="bmd-label-static" for="id_headword">Headword</label>
                    <input type="text" name="headword" class="form-control" id="id_headword"
                        value={{ headword_form.headword.value }} required> {% endcomment %}
                </div>

                <div class="col-3">
                    {{ headword_form.variant|as_crispy_field }}
                    {% comment %} <label class="bmd-label-static" for="id_variant">Variant</label>
                    <input type="text" name="variant" class="form-control" id="id_headword"
                        value={{ headword_form.variant.value }}> {% endcomment %}
                </div>

                {% comment %} <div class="col-1 form-check align-self-center">
                    <input type="checkbox" name="is_root" class="form-check-input" id="id_headword"
                        {% if headword_form.is_root.value %} checked {% endif %}>
                    <label class="form-check-label" for="id_headword">Is root</label>
                </div> {% endcomment %}
                <div class="col-1">
                    {% comment %} {{ headword_form.is_root|as_crispy_field }} {% endcomment %}
                    <label class="bmd-label-static" for="id_headword">Is root?</label>
                    <input type="checkbox" name="is_root" class="form-control" id="id_headword"
                        {% if headword_form.is_root.value %} checked {% endif %}>
                </div>
                <div class="col-2">
                    {{ sense_form.toda|as_crispy_field }}
                    {% comment %} <label class="bmd-label-static" for="id_toda">Toda headword</label>
                    <input type="text" name="toda" class="form-control" id="id_toda" value={{sense_form.toda.value}}>
                    {% endcomment %}
                </div>
                <div class="col-3">
                    {{ sense_form.truku|as_crispy_field }}
                    {% comment %} <label class="bmd-label-static" for="id_truku">Truku headword</label>
                    <input type="text" name="truku" class="form-control" id="id_truku" value={{sense_form.truku.value}}>
                    {% endcomment %}
                </div>
            </div>
            <div class="form-group">
                {% include 'core/sense_form_snippet.html' with form=sense_form %}
            </div>
        </form>
    </div>
</div>

{% endblock content %}
{% block javascript %}
{{ block.super }}
{% endblock javascript %}