{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <h1>Upload</h1>
    </div>
        <div id="modal-progress" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Uploading...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0;">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {# 1. BUTTON TO TRIGGER THE ACTION #}
    <div class="row">
        <button type="button" class="btn btn-primary js-upload-text">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload text
        </button>
        {% if text_list %}
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteAllModal">Delete All
            </button>
        {% endif %}

        {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
        <input id="fileupload" type="file" name="file" multiple
               style="display: none;"
               data-url="{% url 'freqdist:upload' %}"
               data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    </div>
    <div class="row">
        {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
        <table id="gallery" class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Text</th>
                <th class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for text in text_list %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td><a href="{{ text.file.url }}" target="_blank">{{ text.name }}</a></td>
                    <td style="text-align: center;" class="align-middle">
                        <button style="padding: 0;" type="button" class="btn btn-primary align-middle"
                                data-toggle="modal"
                                data-target="#deleteSingleModal"
                                data-pk="{{ text.pk }}"
                                data-deltext="{{ text.file.name }}"
                        ><i class="material-icons align-middle">delete</i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="modal fade" id="deleteSingleModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteSingleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteSingleModalLabel">Delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAllModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAllModalLabel">Delete all texts?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'freq:delete_all' %}">
                            {% csrf_token %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'freqdist/js/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'freqdist/js/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'freqdist/js/jquery-file-upload/js/jquery.fileupload.js' %}"></script>

    {# PHOTOS PAGE SCRIPTS #}
    <script src="{% static 'freqdist/js/upload.js' %}"></script>
    {# Delete script #}
    <script>
        $('#deleteSingleModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let pk = button.data('pk');
            let url = "{% url 'freq:delete_single' pk=1 %}".replace(1, `${pk}`);
            let modal = $(this);
            let delText = button.data('deltext');
            let form = modal.find('form');

            form.prop('action', url);
            modal.find('.modal-title').text('Delete ' + delText + '?')
        });
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus'
            });
        });
    </script>
{% endblock javascript %}