{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="modal-progress" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uploading...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# 1. BUTTON TO TRIGGER THE ACTION #}
    <button type="button" class="btn btn-primary js-upload-text">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload text
    </button>

    {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'freqdist:upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

    {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
    <table id="gallery" class="table table-bordered">
        <thead>
        <tr>
            <th>Texts</th>
        </tr>
        </thead>
        <tbody>
        {% for text in text_list %}
            <tr>
                <td><a href="{{ text.file.url }}">{{ text.file.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'freqdist/js/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'freqdist/js/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'freqdist/js/jquery-file-upload/js/jquery.fileupload.js' %}"></script>

    {# PHOTOS PAGE SCRIPTS #}
    <script src="{% static 'freqdist/js/upload.js' %}"></script>
{% endblock javascript %}