{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h1>Concordance</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form action="{% url 'kwic:index' %}">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="query">Query</label>
                            <input type="text" name="query" id="query">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="width">Width</label>
                            <input class="form-control" name="width" id="width" value="100">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="sort-side">Sort by</label>
                            <select name="sort-side" id="sort-side" class="custom-select">
                                <option value="left" selected>Left</option>
                                <option value="right">Right</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="sort-window">Window</label>
                            <select name="sort-window" id="sort-window" class="custom-select">
                                <option value="1">1</option>
                                <option value="2" selected>2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if conc_list %}
        <div class="row">
            <div class="col">
                <p>Total: {{ conc_len }}</p>
            </div>
            <div class="col text-right">
                <a href="{% url 'kwic:export' %}" class="btn btn-primary" role="button">Export to CSV</a>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th class="text-right">Left</th>
                        <th class="text-center">Center</th>
                        <th>Right</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in conc_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-right">{{ c.left_print }}</td>
                            <td class="text-center">{{ c.query }}</td>
                            <td>{{ c.right_print }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock content %}
{#{% block javascript %}#}
{#    {{ block.super }}#}
{#    <script>#}
{#        const addSelectNums = function (widgetId) {#}
{#            const select = document.querySelector(widgetId);#}
{#            for (let i = 1; i < 150; i ++) {#}
{#                let option = document.createElement("OPTION");#}
{#                select.options.add(option);#}
{#                option.text = i;#}
{#                option.value = i;#}
{#                if (i === 80) {#}
{#                    option.setAttribute("selected", "");#}
{#                }#}
{#            }#}
{#        };#}
{#        $("document").ready(function () {#}
{#            addSelectNums('#width');#}
{#        });#}
{#    </script>#}
{#{% endblock javascript %}#}