{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'core/web.css' %}">

    <title>KariSeediq</title>
    {% block header %}
    {% endblock header %}
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a style="line-height:50%" class="navbar-brand" href="/"><i class="material-icons">home</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'core:create' %}">New Entry</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'core:pending' %}">#}
{#                    Pending <span id="pendingBadge" class="badge badge-secondary align-middle"></span></a>#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'freq:upload' %}">
                    FreqDist</a>
            </li>
        </ul>
{#        <form action="{% url 'core:results' %}" class="form-inline">#}
{#            <div class="form-check form-check-inline text-white">#}
{#                <input type="radio" name="search_root" class="form-check-input" value="only" id="rootFilter1">#}
{#                <label style="color:white !important;" for="rootFilter1" class="form-check-label">Only roots</label>#}
{#            </div>#}
{#            <div class="form-check form-check-inline text-white">#}
{#                <input type="radio" name="search_root" class="form-check-input" value="exclude" id="rootFilter2">#}
{#                <label style="color:white !important;" for="rootFilter2" class="form-check-label">Exclude roots</label>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label for="itemFilterNav"></label>#}
{#                <select name="search_filter" id="itemFilterNav" class="custom-select custom-select-sm mx-auto">#}
{#                    <option value="startswith" selected>Starts with</option>#}
{#                    <option value="endswith">Ends with</option>#}
{#                    <option value="contains">Contains</option>#}
{#                </select>#}
{#            </div>#}
{#            <input type="search" name="search_name" placeholder="Search" class="form-control mx-sm-2">#}
{#            <input type="hidden" name="search_reset" value="True">#}
{#            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">New Search</button>#}
{#        </form>#}
    </div>
</nav>
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script>$(document).ready(function () {
    $('body').bootstrapMaterialDesign();
});</script>
<script>
    const wordClass = $('#id_word_class');
    const focus = $('#id_focus');
    (wordClass.val() === 'NOUN') ? focus.prop('disabled', true) : focus.prop('disabled', false);

    wordClass.on('change', function () {
        const wordClassValue = this.value;
        (wordClassValue === 'NOUN') ? focus.prop('disabled', true) : focus.prop('disabled', false);
    });
</script>
<script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/v2.0.0/dist/latest/bootstrap-autocomplete.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
{#<script>#}
{#    $('#id_item_root').autoComplete({#}
{#        resolverSettings: {#}
{#            url: "{% url 'core:focus_autocomplete' %}"#}
{#        }#}
{#    });#}
{#</script>#}
{#<script>#}
{#    $('#id_item_name').autoComplete({#}
{#        resolverSettings: {#}
{#            url: "{% url 'core:item_name_autocomplete' %}"#}
{#        }#}
{#    });#}
{#</script>#}
{#<script>#}
{#    $.ajax({#}
{#        url: "{% url 'core:pending' %}",#}
{#        success: function (result) {#}
{#            const pendingBadge = $('#pendingBadge');#}
{#            const count = result['pending_count'];#}
{#            pendingBadge.text(count)#}
{#        }#}
{#    });#}
{#</script>#}
{% block javascript %}
{% endblock javascript %}
</body>
</html>